body {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center; /* Zentriert vertikal */
  margin: 0; /* Verhindert unerwünschte Ränder oder Abstände */
  margin-top: 5%;
  padding: 0;
}

.name {
  font-size: 1200%;
  opacity: 0; /* Starte mit unsichtbarem Text */
  animation: reveal 2s linear forwards;
  color: aliceblue;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
