form {
  width: 300px;
  margin: 0 auto;
}
.container{
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 20px;
}
div {
  margin-bottom: 10px;
}

label {
  display: block;
  color: white;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 300px;
  min-width: 300px;
  max-height: 30vh;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.fact{
  color: aliceblue;
  width: 300px;
  container: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.902);
  border-radius: 20px;
  margin-bottom: 120px;
}