<html>
  <head>
    <title>Navigationsbar</title>
    <link rel="stylesheet" href="navigationsbar.component.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <a routerLink="home"><img src="assets/images/logo.png" class="logo"/> </a>
        <ul class="nav-links">
          <li><a routerLink="home">Home</a></li>
          <li routerLink="about" class="btn">About</li>
          <li routerLink="kontakt" class="btn">Kontakt</li>
        </ul>
      </nav>
    </div>
  </body>
</html>
