<div class="my-website-container">
  <div class="profile">
    <img src="assets/myself.jpg" alt="It's me">
    <p>I began my career as a mechanical engineer, honing my precision and problem-solving skills. Transitioning into Business Informatics, I now work as a Junior Software Engineer. I'm passionate about creating innovative software solutions that bridge the gap between technology and business needs. My background as an engineer instilled an eye for detail, and my education enhanced my software development skills. I'm committed to evolving in the world of IT, aiming to craft solutions that support business objectives and enhance customer satisfaction.</p>
  </div>
  <div class="skills-box">
    <h3>My Skills</h3>
    <div class="flex-container">
      <img src="assets/angular.jpg" alt="Angular Logo" class="angular-logo">
      <img src="assets/css.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/html.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/ts.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/python.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/sql.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/ansible.png" alt="Angular Logo" class="angular-logo">
      <img src="assets/java.png" alt="Angular Logo" class="angular-logo">
    </div>
  </div>
</div>
