  .my-website-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px; /* Add padding for better spacing */
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.902);
  }

  .profile {
    flex-direction: column  ;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 100%;
  }

  .profile-img-container {
    width: 35%; /* Adjust the width of the image container */
    max-width: 250px;
    margin: 0 auto; /* Center the container */
    border-radius: 30%;
    overflow: hidden; /* Ensure that the border-radius doesn't distort the image */
  }

  .profile img {
    width: 100%;
    height: auto;
    display: block;
  }

  .profile-text-container {
    flex: 1; /* Take the remaining width */
    padding: 20px;
  }

  .skills-box {
    flex: 1;
    padding: 10px;
    border-color: rgb(27, 78, 27);
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
  }

  .skills-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .flex-container-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Allow the container to take full width */
  }

  .flex-container {
    max-width: 600px; /* Set a maximum width for the container */
    width: 100%; /* Take full width */
  }

  .flex-container img {
    max-width: 100%; /* Make sure images are responsive */
    height: 120px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
  }

  .flex-container h4 {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .logo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
  }
  .description{
    font-size: 20px;
  }
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
    .my-website-container {
      padding: 10px; /* Adjust padding for small screens */
    }

    .profile {
      flex-direction: column; /* Stack image and text on small screens */
      text-align: left; /* Align text to the left on small screens */
    }

    .profile-img-container {
      width: 100%; /* Full width for image on small screens */
      max-width: none; /* Allow the image to exceed its container's width */
      margin-bottom: 10px; /* Add some spacing between image and text on small screens */
    }

    .profile-text-container {
      flex: 1; /* Take the full width for text on small screens */
    }

    .flex-container {
      max-width: 100%; /* Allow the flex container to take full width on small screens */
    }
  }
