<head>
    <title>Fusszeile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="footer">
      <div class="social">
        <a href="https://www.instagram.com/joel_kuenzli/"> <i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jo%C3%ABl-k%C3%BCnzli-7ba56225a/"> <i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/KuenzliJ"> <i class="fa-brands fa-github"></i></a>
      </div>
      <p class="copyright">
        © Copyright 2023 by Me. Alle Rechte vorbehalten.
      </p>
    </section>
  </body>
  